@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
}


input[type="submit"]:hover {
    cursor: pointer;
}

/* Card Styles */

.card {
    position: relative;
    width: 300px;
    height: 400px;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 300px;
    height: 400px;
    object-fit:cover;
}

.card:hover .product-info {
    bottom: 0;
}

.product-info {
    position: absolute;
    width: 100%;
    height: 150px;
    border-top-right-radius: 50px;
    background: #21222dfa;
    bottom: 0px;
    bottom: -105px;
    transition: 0.5s;
}

.product-inner-info {
    width: 270px;
    margin-top: 15px;
    text-align: left;
    color: #fff;
    margin-left: 15px;
}

.product-inner-info p {
    margin-top: 5px;
    color: #4F5159;
}

.price-buy {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-buy form {
    width: 85%;
    text-align: right;
}

.price-buy input {
    color: #fff;
    background: #33323A;
    padding: 10px;
    width: 85%;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}


.price-buy input:hover {
    cursor: pointer;
    box-shadow: inset 0 0 50px 0 #4F5159;
}

.items-list {
    margin: auto;
    width: 85%;
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(4, 300px);
}

.AdminCard{
    position: absolute;
    top: 5px;
    right: 5px;
}

.AdminCard input {
    border: none;
    color: #FFF;
    padding: 7px;
    border-radius: 5px;
}

.AdminCard input[name="Remove"] {
    background: red;
}

.AdminCard input[name="update"] {
    background: #20C0ED;
    margin-right: 5px;
}


.EditMode {
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background: rgba(0, 0, 0, 0.734);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

                
.Edit-Wrapper {
    min-width: 400px;
    min-height: 400px;
    width: 100%;
    height: 450px;
    max-width: 800px;
    background: #25272bec;
    position: absolute;

    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.rightSection a{
    font-weight: 600;
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
}


.Edit-Content {
    width: 96%;
    height: 94%;
    display: flex;
    gap: 25px;
}

.LeftSection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.LeftSection {
    width: 50%;
    position: relative;
}

.rightSection {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rightSection input {
    padding: 10px 10px 10px 0px;
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
}


.rightSection .column {
    color: #Fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column input{
    width: 75%;
}

.column select {
    width: 100%;
}


.rightSection select {
    padding: 10px 10px 10px 0px;
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #e1e1e1;
    outline: none; 
}

.rightSection option {
    background: #4F5159;
}


.rightSection input[type="submit"] {
    width: 40%;
    margin-left: auto;
    border: none;
    background: red;
    border-radius: 5px;
}

.rightSection textarea {
    padding: 10px;
    resize: none;
    background: #2f3135e0;
    border: none;
    color: #fff;
    outline: none;
}

.LeftSection input {
    position: absolute;
    left: 0;
    /* width: 100%;
    height: 100%; */
    background: green;
    display: none;
}

.LeftSection label:hover {
    background-image: url('../images/pen.png');
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00000072;
    cursor: pointer;
}

.LeftSection label{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}



@media (max-width: 1331px) {
    .items-list {
        grid-template-columns: repeat(3, 300px);
    }
}  

@media (max-width: 992px) {
    .items-list {
        grid-template-columns: repeat(2, 300px);
    }
}  

@media (max-width: 650px) {
    .items-list {
        grid-template-columns: repeat(1, 300px);
    }
}

@media (max-width: 850px) {

}