@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
    padding:0;
}


/* Card Styles */

.card {
    position: relative;
    background-color: red;
    width: 300px;
    height: 400px;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 300px;
    height: 400px;
    object-fit:cover;
}

.card:hover .product-info {
    bottom: 0;
}

.product-info {
    position: absolute;
    width: 100%;
    height: 150px;
    border-top-right-radius: 50px;
    background: #21222dfa;
    bottom: 0px;
    bottom: -105px;
    transition: 0.5s;
}

.product-inner-info {
    width: 270px;
    margin-top: 15px;
    text-align: left;
    color: #fff;
    margin-left: 15px;
}

.product-inner-info p {
    margin-top: 5px;
    color: #4F5159;
}

.price-buy {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-buy button {
    color: #fff;
    background: #33323A;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 15px;
    transition: 0.3s;
}


.price-buy button:hover {
    cursor: pointer;
    box-shadow: inset 0 0 50px 0 #4F5159;
}