
.wrapper {
    position: relative;
    max-height: 800px;
    overflow: hidden;
}

.Welcome-Image {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
}

.welcome-content {
    position: absolute;
    top: 40%;
    left: 45px;
    transform: translateY(-40%);
    color: #111;
    transition: 0.5s;
}

.welcome-content h1 {
    /* font-size: 48px; */
    font-size: max(32px, 2.5vw)
}

.welcome-content p {
    /* font-size: 48px; */
    font-size: max(20px, 1.2vw)
}

.welcome-content span {
    color: red;
}

.text-content {
    width: 22vw;
    min-width: 320px;
}

.text-content button {
    background: none;
    background-color: red;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
    border-top-right-radius: 15px;
}


.home-items-content {
    margin-bottom: 120px;
}


.title {
    text-align: center;
    margin: 45px auto;
}

.title h1{
    display: inline-block;
    margin: auto;
}

.title h1::after {
    content: " ";
    background: red;
    margin: 10px auto;
    height: 3px;
    display: block;
    width: 60%;
}

.items-list {
    margin: auto;
    width: 85%;
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(4, 300px);
}


@media only screen and (max-width: 940px) {
    .welcome-content {
        top: 120px;
        left: 40px;
    }
}

@media (max-width: 650px) {  
    .welcome-content {
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

@media (max-width: 1331px) {
    .items-list {
        grid-template-columns: repeat(3, 300px);
    }
}  

@media (max-width: 992px) {
    .items-list {
        grid-template-columns: repeat(2, 300px);
    }
}  

@media (max-width: 650px) {
    .items-list {
        grid-template-columns: repeat(1, 300px);
    }
}


@media (max-width: 400px) {
    .welcome-content {
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}